<html>
    <head>
        <link rel="stylesheet" href="./static/css/style.css">
        <script src="{{ url_for('static', filename='js/name.js') }}" > </script> 
        <title>Dream i</title>
        <style>
            #button1, #button2 {
                width: 400px;
                height: 400px;
                background-size: cover;
                background-position: center;
              }
              #button1 {
                background-image: url("./static/images/header/1.jpg");
              }
              #button2 {
                background-image: url("./static/images/header/2.jpg");
              }
        </style>

    </head>
    <body>
        <div class="load" id="loading" style="display: none;">
            <h1>AI가 동화 이미지를 생성 중입니다🙂</h1>
            <div class="loader"></div>
            <h2>잠시 기다려주세요😊</h2>
        </div>

        <div class="container" id='pages'>
            <div class="header">
                <div class=cloud><img src="./static/images/header/cloud.png"></div>
                <div class=logo><img src="./static/images/header/logo3.png"width=250px height=80px></div>
                <div class="header-content">
                </div>
            </div>
            <div class="index-page">
                <div class="index">
                    <div id="name" class="title">동화의 그림 스타일을 선택해 주세요!🙂</div>
                </div>

                <div class="buttonss">
                    <div class="button-">
                        <form id="storyform" action="/style1" method="post">
                            <button id="button1" class="submit-button" input type="submit">애니메이션<br>스타일</button>
                        </form>
                    </div>
                    <div class="button-">
                        <form id="storyform1" action="/style2" method="post">
                            <button id="button2" class="submit-button" input type="submit">수채화 그림<br>스타일</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <script>
            document.getElementById('storyform').addEventListener('submit', function() {
                document.getElementById('pages').style.display = 'none';
                document.getElementById('loading').style.display = 'block';
            });

            document.getElementById('storyform1').addEventListener('submit', function() {
                document.getElementById('pages').style.display = 'none';
                document.getElementById('loading').style.display = 'block';
            });
        </script>
    </body>
</html>